.recruteur {
    width: 500px;
    height: 90.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.recruteur .image-recruteur {
    width: 100%;
    height: 94%;
    background-image: url(../../../assets/360_F_210969565_cIHkcrIzRpWNZzq8eaQnYotG4pkHh0P9.jpg);
    background-position: center;
    background-size: cover;
}
.recruteur .sound-wave {
    height: 30px;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
}